<form action=/places/create>
<input type="text" name="new_title" placeholder="Title">
<input type="text" name="new_photo_url" placeholder="Photo url">
<input type="text" name="new_admission_price" placeholder="Admission price">
<p><p>
<textarea type="text" name="new_description" placeholder="Description"></textarea>
<p><p>
<input type=submit value=submit>
</form>
